@page "/studio/create"
@rendermode InteractiveServer
<link href="Developer/css/DeveloperStyles.css" rel="stylesheet" />

    <div class="row">
        <div class="col">
            <h1 class="text-info">Create Developer Studio</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <DeveloperPageForm Developer="Developer" OnValidSubmitHandler="Create" />
        </div>
        <div class="col">

        </div>
    </div>
    @code{
        GameDeveloper Developer = new();
        void Create()
        {

        }
    }