@page "/studio/create"
@rendermode InteractiveServer

<div class="row">
    <div class="col">
        <h1 class="text-info">Create Developer Studio</h1>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <DeveloperPageForm Developer="Developer" OnValidSubmitHandler="Create" />
    </div>
    <div class="col-6">

    </div>
</div>
@code{
    GameDeveloper Developer = new();
    void Create()
    {

    }
}