@page "/studio"

<div class="row border border-info justify-content-center">
    <div class="col">
        <h1 class="text-info">Developer Studios</h1>
    </div>
    <div class="col-3 text-center align-content-center">
        <NavLink class="btn btn-info" href="studio/create">Create New Studio</NavLink>
    </div>
</div>
<div class="row">
    <div class="col">
    </div>
</div>
@code
{

}