@page "/genres/create"
@rendermode InteractiveServer

<div class="row">
    <div class="col">
        <div class="text-info">Create Genre</div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <FormForGenre Genre="genre" OnValidSumbit="Create"/>
    </div>
</div>

@code{
     Genre genre = new();

    void Create()
    {
        Console.WriteLine($"Genre name: {genre.Name}");
     
    }
}