@page "/genres"


<div class="row">
    <div class="col">
        <div class="text-info">Genres</div>
    </div>
</div>

<div class="row">
    <div class="col">
    <a class="btn btn-info" href="genres/create">Create Game</a>
    </div>
</div>
