
<div class="row">
    <div class="col-4">
        <ul class="list-group mr-4 selectable-list">
            @foreach (var item in OnNotSelected!)
            {
                <li @onclick="(()=>Select(item))" class="list-group-item mb-1">
                    @item.Value
                </li>
            }
        </ul>
    </div>
    <div class="col-2">
        @if (allSelected)
        {
            <button class="btn btn-danger" @onclick="SelectDeselectAll">
                Deselect All
            </button>
        }
        else
        {
            <button class="btn btn-primary" @onclick="SelectDeselectAll">
                Select All
            </button>
        }
    </div>
    <div class="col-4">
        <ul class="list-group ml-4 selectable-list">
            @foreach (var item in OnSelected!)
            {
                <li @onclick="(()=>Deselect(item))" class="list-group-item mb-1 list-group-item-info">
                    @item.Value
                </li>
            }
        </ul>
    </div>
</div>



@code
{
    [Parameter] public List<MultipleSelecterHelperModel>? OnSelected { get; set; } = new();
    [Parameter] public List<MultipleSelecterHelperModel>? OnNotSelected { get; set; } = new();
    bool allSelected;

    void Select(MultipleSelecterHelperModel selectedItem)
    {
        OnSelected?.Add(selectedItem);
        OnNotSelected?.Remove(selectedItem);
    }
    void Deselect(MultipleSelecterHelperModel deselectedItem)
    {
        OnNotSelected?.Add(deselectedItem);
        OnSelected?.Remove(deselectedItem);
    }
    void SelectDeselectAll()
    {
        if (allSelected)
        {
            OnNotSelected?.AddRange(OnSelected!);
            OnSelected!.Clear();
            allSelected = false;
        }
        else
        {

            OnSelected?.AddRange(OnNotSelected!);
            OnNotSelected!.Clear();
            allSelected = true;
        }
    }
}

<style>
    .selectable-list {
        padding: 20px;
        border: 1px groove #6c757d;
        border-radius:3px;
        min-width:150px;
    }
    .list-group-item:hover{
        cursor:pointer;
        border:1px dashed #000
    }
</style>