@page "/games"
@inject NavigationManager navManager
@rendermode InteractiveServer
@inject IRepository repository



<link href="MainModule/css/MySuper.css" rel="stylesheet" />

<PageTitle>Home</PageTitle>


<div class="row">
    <div class="col text-center">
        <button @onclick="AddNewGame" class="btn btn-primary"> Add New Game</button>
    </div>
</div>
@*<Typeahead OnPlaceHolder="Type Some here..." OnSearchHandler="SearchHandler">
    <ResultTemplate>
        @context
    </ResultTemplate>
</Typeahead>*@

<GameList ListOfItems="gameItemsList" />

@code{
    List<GameModel>? gameItemsList;
    protected override async Task OnInitializedAsync()
    {
        gameItemsList = repository.GetAllGames();

    }
    void AddNewGame()
    {
        navManager.NavigateTo("/games/create");
    }

    async Task<IEnumerable<string>> SearchHandler(string searchText)
    {
        await Task.Delay(2000);
        if (searchText.Equals("TEst"))
        {
            return Enumerable.Empty<string>();
        }
        else
        {
            return new List<string>()
            {
                "CD Project Red",
                "Rockstar Games"
            };
        }
    }
}