
@if (ListOfItems is null)
{
    <div class="row text-center">
        <div class="col">
            Loading...
        </div>
    </div>
}
else if (ListOfItems.Count == 0)
{
    <div class="row text-center">
        <div class="col">
            Empty
        </div>
    </div>
}
else
{
    <div class="row">
        @foreach (var item in ListOfItems)
        {
            <IndividualGame Game="item" />
        }
    </div>
}



@code{
    [Parameter] public List<GameModel>? ListOfItems { get; set; }
}